body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Avenir', sans-serif;
}

h3 {
    color: #000000;
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 42px;
    font-weight: bold;
    text-align: center; 
}