.content {
    flex: 1;
}

footer {
    background-color: #004eac;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-container a {
    margin: 0 10px;
}

.footer-container img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%;
}

footer p {
    margin: 0;
}